asgiref==3.7.2
bcrypt==4.1.2
boto3==1.34.79
botocore==1.34.79
cffi==1.16.0
cryptography==41.0.5
distlib==0.3.7
Django==4.2.6
django-appconf==1.0.6
django-cors-headers==4.3.0
django-countries==7.5.1
django-cryptography==1.1
django-encrypted-field==1.0.5
django-phonenumber-field==7.2.0
django-storages==1.14.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
filelock==3.13.1
inflection==0.5.1
jmespath==1.0.1
mysql-connector-python==8.2.0
packaging==23.2
passlib==1.7.4
phonenumbers==8.13.25
pillow==10.3.0
platformdirs==3.11.0
protobuf==4.21.12
pycparser==2.21
pycryptodomex==3.20.0
PyJWT==2.8.0
PyMySQL==1.1.0
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
rest-framework-simplejwt==0.0.2
s3transfer==0.10.1
setuptools==68.2.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.24.6
